<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
</head>
<body>
<center><h1>Movies List</h1></center>
<center><a role="button" href="{% url "addMovie" %}">add movie</a></center>
<div style="padding: 16px">
    {% for movie in movies %}
        <h3>{{  movie.title  }}</h3>
        <P>{{   movie.overview }}</P>
        <h4>{{   movie.date }}</h4>
        <img src="{{ movie.poster.url }}" height="200px" width="250px">
        <video controls src="{{ request.schema }}://{{ request.get_host }}{{ movie.video.url }}" width="300px" height="200px"></video>
    {% empty %}
        <h3>Empty list</h3>
    {% endfor %}


</div>
</body>
</html>