<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view All</title>
    <style>h3, p{ display:inline;}</style>
</head>
<body style="padding: 16px">
<center><h1>Tasks</h1></center>
            {% for task in tasks %}
                <div style="margin-top: 12px;padding-left: 16px;padding-right: 25%;padding-left: 25%">
           <h3>{{ task.title }}</h3>
           <p style="margin-left: 16px"> {{ task.description }}</p>
<div style="float: right">
    <a href="{% url "delete" task.id %}" style="background-color: red">Delete</a>
    <a href="{% url "update" task.id %}" style="margin-left: 8px;background-color: chartreuse">update</a>
</div>
                </div>
            {% empty %}
            <h3>Empty tasks list</h3>
            {% endfor %}

</body>
</html>